@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	color: inherit;
	text-decoration: none;
}
/* header */
header {
	width: 100%;
	height: 80px;
	background: #0560d0;	
	color: white;
	text-align: center;
	line-height: 80px; 
}
/* nav */
nav {
	width: 100%;
	height: 40px;
	background: #8585ff;
	text-align: center;
	line-height: 40px; 
}
nav > ul{
	width: 50%;
}
nav > ul > li{
	width: 25%;
	float: left;
	color: white;
	font-weight: bold;
}
/* section */
section{
	background-color: #e7e7e7;
	width: 100%;
	height: 500px;
}
section .container{
	margin: 0 auto; 
	padding: 20px;
}
.title{
	text-align: center;
	font-size: 30px;
	height: 80px;
	line-height: 60px;
	font-weight: bold;
}
/* footer */
footer {
	width: 100%;
	height: 50px;
	background: #0560d0;
	color: white;
	text-align: center;
	line-height: 50px;	
	font-size: 20px;
}
/* table */
table {
	margin: 0 auto; 
	text-align: center;
	border: 1px solid #bbbbbb;
}
th{
	height: 33px;
	border: 1px solid #bbbbbb;
	padding: 0 10px;
}
td {
	height: 33px;
	border: 1px solid #bbbbbb;
	padding: 0 10px;
}